/Project/Library
/Project/Assembly-CSharp.csproj
/Project/Assembly-CSharp-Editor.csproj
/Project/Assembly-CSharp-firstpass.csproj
/Project/Project.sln
/Project/Project.userprefs
/Project/obj
/Project/Temp
/Project/Project.Editor.csproj
/Project/Project.Plugins.csproj
/Project/Project.csproj
/Project/Project.csproj.user
/Project/.vs
